.new-song-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 30px; */
  justify-content: space-between;
}
.new-song-line {
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
}
.new-song-container {
  padding: 20px;
}
.new-song-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  text-align: center;
}
.new-song-button {
  height: fit-content;
  width: fit-content;
}
.new-song-intermezzo p {
  color: whitesmoke;
}
.new-song-intermezzo div {
  background-color: whitesmoke;
  width: 200px;
  height: 2px;
}
.new-song-intermezzo {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 40px;
}
.new-song-file {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
