.container-song-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.songs-list {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.songs-list-item {
  padding: 0 20px 0 20px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.songs-title-container {
  /* display: flex; */
  align-items: center;
  justify-content: flex-start;
}
.songs-season {
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 5px;
}
.songs-dropdown {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.songs-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-left: 20px;
}
.content-holder {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#new-song {
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  width: auto;
  height: auto;
  /* width: 160px; */
  transition: 0.5s;
}

@media screen and (max-width: 1300px) {
  .content-holder {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
