.container-song-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.songs-list {
  padding: 20px;
}
.songs-list-item {
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}
.songs-season {
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 5px;
}
#new-song {
  font-size: x-large;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  width: auto;
  height: auto;
  /* width: 160px; */
  transition: 0.5s;
}
#new-song:hover {
  /* width: 250px; */
}
